@charset "UTF-8";

/* 未訪問のリンク */
a:link {
    color: cornflowerblue;
}

/* 訪問済み */
a:visited {
    color: purple;
}

/* 要素内の最初の子要素 */
tr:first-child {
    background-color: rgb(226, 152, 152);
}

.text-center {
    /* テキストの行揃え */
    text-align: center;
}